MW_PORT=8080
MW_SITE_NAME=Vocomipedia Local
MW_SERVER=http://localhost:8080
MW_DB_NAME=mediawiki
MW_DB_USER=mediawiki
MW_DB_PASSWORD=mediawiki_pass
MW_DB_ROOT_PASSWORD=mediawiki_root_pass
MW_ADMIN_USER=Admin
MW_ADMIN_PASSWORD=ChangeMeAdmin123!
MW_BOT_USER=VocomiBot
MW_BOT_PASSWORD=ChangeMeBot123!

